/* Fascinate Notes Vibrancy Blur Effect */
html:has(> body:is(.linux, .win32, .darwin)) {
    --window-surface-opacity: 88%;
    min-height: 100%;
    background: color-mix(in srgb, var(--theme-bg) var(--window-surface-opacity), transparent);
}

html:has(> body.win32) {
    --window-surface-opacity: 50%;
}

body:is(.win32, .darwin) {
    min-height: 100vh;
    background: transparent;
}

html:has(> body:is(.linux)) {
    --window-surface-opacity: 100%;
}

@media (prefers-color-scheme: light) {
    html:has(> body:is(.win32, .darwin)) {
        --window-surface-opacity: 90%;
    }

    html:has(> body.win32) {
        --window-surface-opacity: 75%;
    }
}

@media (prefers-reduced-transparency: reduce) {
    html:has(> body:is(.win32, .darwin)) {
        --window-surface-opacity: 100%;
    }
}